#password{
	.password{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 20px;
		height: 60vh;
		input{
			padding: 10px 20px;
			border-radius: 10px;
			outline: none;

		}
		button{
			padding: 10px 20px;
			border-radius: 10px;
			background-color: gray;
			color: black;
		}
	}
}
