#create {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 72vh;
	gap: 30px;
	padding: 20px;
}

.input-wrapper input {
	font-size: 20px;
	padding: 30px 65px;
	border: none;
	border-radius: 5px;
	background-color: #04026e;
	color: aliceblue;
	margin-left: -200px;
	margin-top: 150px;
}
.input-wrapper input::placeholder {
	color: rgb(54, 158, 223);
}

.prodInfo {
	display: flex;
	flex-direction: column;
	margin-left: 350px;
	margin-top: -200px;
	gap: 10px;
}

.prodInfo input,
.prodInfo select,
.prodInfo textarea {
	font-size: 18px;
	padding: 15px 35px;
	border: none;
	border-radius: 5px;
	background-color: #04026e;
	color: aliceblue;
}
.prodInfo input::placeholder {
	color: rgb(54, 158, 223);
}
.descr::placeholder {
	color: rgb(54, 158, 223);
}

.prodInfo button {
	padding: 15px 50px;
	background-color: #04026e;
	color: aliceblue;
	border: none;
	border-radius: 5px;
	font-size: 15px;
}

.prodInfo button:hover {
	background-color: #46aceb;
}
